body{
    background:#DFE6E9;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.navbar{
    height: 50px;
    color: white;
    background-color: #2D3436;
}

.navbar i{
    margin: 0 5px;
    font-size: 18px;
}

.navbar-brand{
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar .btn-link{
    color:white;
    text-decoration: none;
}

.sidebar{
    min-height: 700px;
    background-color: #212429;
    color: white;
}

.sidebar ul {
    padding-left: 1.5rem;
}

.sidebar ul li{
    list-style-type:  none;
    margin-top:10px;
    font-size: 20px;
}

.sidebar ul li a{
    color: white;
    text-decoration: none;
}
.sidebar ul li a:hover{
    color:azure;

}
.sidebar ul li a i{
    font-size: 25px;
    margin-right: 20px;
}

.main-area{
    padding-left:3rem;
    width: 75%;
    font-size: 16px;
}
.main-area h1 i{
    margin:15px;
    margin-bottom: 40px;
}

.main-area a{
    text-decoration: none;
    color: #212429;
    font-size: 16px;
}

.main-area a:hover{
    text-decoration: none;
    color: #2D3436;
}

.category{
    margin-left: 20%;
}

.form-button{
    display: inline;
}

.form-button button{
    font-size: 20px;
}

.featured-card {
    flex-direction: row;
  }
  .featured-card img {
    width: 80%;
  }

  .post-card{
      flex-direction: row;
      border: 0;
      margin-bottom: 25px;
  }
  .post-card img{
      width: 30%;
  }

  .post-card button{
      float: right;
  }

  .widget{
      width:18rem;
      margin-bottom: 25px;
  }

  .widget a{
      color: #333;
      text-decoration: none;
  }

  .page-item a{
      color:#333;
  }

  .page-item a:hover{
      color:#555;
  }
